ul [role='menu']>[role='menuitem'] {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  text-shadow: none !important;
  color: black !important;
  margin: 0 !important;
}

@media screen and (max-width: 768px) {
  img {
    size: 10
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.abme {
  color: black;
}

.abme:hover {
  color: white;
  text-decoration: none;
}

/* Character styling for AI responses */
.character {
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.character-ember {
  color: #fa0;
  background-color: #ffaa001a;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #fa0;
}

.character-ember:hover {
  background-color: #ffaa0033;
  text-shadow: 0 0 8px #fa0;
}

.window[role="dialog"]:target~.main,
.window[role="dialog"]:target .main {
  display: none !important;
}

.main {
  display: block;
}

.rpgui-content input {
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000 !important;
  color: #fff !important;
  -webkit-box-sizing: border-box  !important;
  -moz-box-sizing: border-box  !important;
  box-sizing: border-box  !important;
  font-size: .9em  !important;
  line-height: 32px  !important;
  background: #4e4a4e  !important;
  max-width: 100%  !important;
  width: 100%  !important;
  padding-left: 10px  !important;
  min-height: 30px  !important;
  -webkit-touch-callout: text  !important;
  -webkit-user-select: text  !important;
  -khtml-user-select: text  !important;
  -moz-user-select: text  !important;
  -ms-user-select: text  !important;
  user-select: text  !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, .5)  !important;
}